
.instructions {
    padding-top: 1rem;
    display: grid;
    min-width: 80vw;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    min-height: 50vh;
    div:first-child {
        border-right: 1px solid gray;
    }
    p {
        margin: 1rem .5rem 1rem 0;
    }

}