/* Styles that are global to your story go here */

$header-height: 10vh;
$article-margin: $header-height;
$gutter: $header-height / 2;
$left-right-width: $header-height * 2;

/* Colors */

$rusted-gold: #ce9e62;
$silver: #4b6777;
$black: #2c2c2c;
$light-gray: rgb(243,239,240);
$deep-red: #c1432e;

$text: $light-gray;
$background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
$button: $deep-red;
$white: rgb(250, 250, 250);


.header {

    nav {
        background: $background;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: $header-height;
        align-items: center;

        h1 {
            justify-self: left;
            margin-left: $left-right-width;
            color: $light-gray;
            font-family: 'Elsie', cursive;
            font-size: 2.5rem;

        }
        .controls {
            display: grid;
            justify-items: end;
            button {
                display: inline-block;
                margin-right: $gutter;
                background: $button;
                color: $light-gray;
                border: 0;
                box-shadow: none;
                border-radius: 0;
                min-height: $header-height;
                min-width: $header-height;
                font-size: 1rem;
                text-transform: uppercase;
            }
        }
    }
}

.main {
    display: grid;
    height: 100vh;
    background: $white;

    grid-template-columns: $left-right-width 5fr $left-right-width;
    grid-template-areas: "left"
                         "content"
                         "right";

    .left {
        height: 100vh;
    }
    .article {
        padding-top: $article-margin;
        height: 100vh;

        font-family: 'EB Garamond', serif;
        font-size: 1.2rem;

        h1, h2, h3, h4, h5, h6 {
            line-height: 3rem;
            color: $rusted-gold;
        }
        p {
            line-height: 1.5rem;

        }
        a {
            color: $silver;
        }
    }
    .right {
        height: 100vh;

    }
}