@use 'sass:color';

@use '/public/styles/grid';
@use '/public/styles/colors';

.main {
    p {
        font-size: 20px;
    }
    pre, code {
        font-size: 15px !important;
    }
    pre + p {
        padding-top: 1rem;
    }
    code {
        background: color.scale(colors.$cool, $lightness: 80%);
        padding: 3px;
    }
    aside {
        border: 1px solid color.scale(colors.$cool, $lightness: 50%);
        color: colors.$cool;
        padding: 1rem;

        &::before {
            content: "Example: ";
            display: block;
            color: color.scale(colors.$cool, $lightness: 70%);
            padding: .25rem;
            text-transform: uppercase;
            margin-bottom: 1rem;
        }

        &.advanced {
            background: color.scale(colors.$cool, $lightness: 70%);
            h1, h2, h3, h4, h5, h6 {
                color: colors.$cool;
            }
            &::before {
                content: "Advanced technique: ";
                color: colors.$cool;
                display: block;
                padding: .25rem;
                text-transform: uppercase;
                margin-bottom: 1rem;
            }
        }
        &.warning {
            border-color: colors.$warning;
            color: color.scale(colors.$very-dark, $lightness: 10%);
            &::before {
                content: "Warning: ";
                text-transform: uppercase;
                color: colors.$warning;

            }
        }
        &.note {
            border-color: colors.$cool;
            color: colors.$cool;
            &::before {
                content: "Note: ";
                text-transform: uppercase;
                color: colors.$cool;

            }
        }
    }
    button {

        padding: .5rem;
        margin: 0;
        &.warning {
            background: colors.$warning;
            color: colors.$very-light;
        }
    }
    .link {
        background-color: transparent;
        border: none;
        cursor: pointer;
        text-decoration: underline;
        display: inline;
        margin: 0;
        padding: 0;
        color: colors.$very-dark;
    }
    .current {
        @extend .link;
        cursor: inherit;
        text-decoration: none;
    }
    .toc {
        list-style-type: none;

        ol {
            margin: 0;
            padding: 0;
            display: inline;
            li {
              display: inline;
            }
            li::after {
                content: " | ";
            }
            li:last-child::after {
                content: none;
            }
        }
    }
    .sample {

        margin: 0 10rem;
        font-family: Nunito, serif;

        p:first-of-type {
            padding-top: 2rem;
        }
        h1, h2, h3, h4, h5, h6 {
            color: colors.$very-dark;
        }
        // Ensure the underline doesn't go beneath the emoji for all findables
        .findable a::after {
            display: inline-block;
            width: 0;
            margin: 0 1em 0 .25em;
        }
        .camera a::after {
            content: " 📸";

        }
        .food a::after {
            content: " 🍄";
        }
        .magnify a::after {
            content: " 🔎";
        }

        img {
            padding-top: 2rem !important;
        }
    }

}