@use 'sass:color';

@use '/public/styles/grid';
@use '/public/styles/colors';

.main {
    p {
        font-size: 20px;
    }
    pre, code {
        font-size: 15px !important;
    }
    code {
        background: color.scale(colors.$cool, $lightness: 80%);
        padding: 3px;
    }
    aside {
        border: 1px solid color.scale(colors.$cool, $lightness: 50%);
        color: colors.$cool;
        padding: 1rem;

    }
    aside::before {
        content: "Example: ";
        display: block;
        color: color.scale(colors.$cool, $lightness: 70%);
        padding: .25rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }

}