/* Styles that are global to your story go here */

$header-height: 60px;
$article-margin: $header-height;
$gutter: $header-height / 2;
$left-right-width: $header-height * 2;

/* Colors */

$rusted-gold: #ce9e62;
$silver: #4b6777;
$black: #2c2c2c;
$light-gray: rgb(243,239,240);
$deep-red: #c1432e;

$text: $light-gray;
$background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
$button: $deep-red;
$white: rgb(250, 250, 250);


.header {

    nav {
        background: $background;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        grid-template-rows: $header-height;
        align-items: center;
        font-family: 'EB Garamond', serif;
        color: $light-gray;

        h1 {
            justify-self: left;
            margin-left: $left-right-width;
            font-family: 'Elsie', cursive;
            font-size: 2rem;

        }
        .player {
            display: inline-block;
            font-size: 1rem;
            justify-self: right;
            margin-right: 10px;
        }

        .share {
            display: inline-block;


            .clipboard {
                border: 1px solid $silver;
                box-shadow: none;
                border-radius: 0;
                cursor: pointer;
                background: $silver;
                color: $light-gray;
                padding: 5px;
                display: flex;
                font-family: 'EB Garamond', serif;
                font-size: 1rem;
                align-items: center;
                justify-content: center;
                span {
                    display: inline-block;
                    margin-right: 20px;
                }
                img {
                    fill: $light-gray;
                    stroke: $light-gray;
                }
                &:hover {
                    border: 1px solid $light-gray;
                }
                &:active {
                    background: $deep-red;
                    animation: pulse .2s;
                    animation-fill-mode: forwards;
                }
                @keyframes pulse {
                    0% {
                        transform: scale(1.0);
                    }
                    100% {
                        transform: scale(1.1);
                    }
                }
            }

        }
        .controls {
            display: grid;
            justify-items: end;

            button {
                display: inline-block;
                margin-right: $gutter;
                background: $button;
                color: $light-gray;
                border: 0;
                box-shadow: none;
                border-radius: 0;
                min-height: $header-height;
                min-width: $header-height;
                font-size: 1rem;
                text-transform: uppercase;
            }
        }
    }
}

.main {
    display: grid;
    height: 100vh;
    background: $white;

    grid-template-columns: $left-right-width 1fr 1fr;
    grid-template-areas: "left"
                         "content"
                         "right";


    h1, h2, h3, h4, h5, h6, p {
        font-family: 'EB Garamond', serif;
    }
    .left {
        height: 100vh;
    }
    .article {
        padding-top: $article-margin;
        height: 100vh;

        font-size: 1.2rem;

        h1, h2, h3, h4, h5, h6 {
            line-height: 3rem;
            color: $rusted-gold;
        }
        p {
            line-height: 1.5rem;

        }
        a {
            color: $silver;
        }
    }
    .right {
        height: 100vh;
        padding-top: $article-margin;
        padding-right: $article-margin;

    }
}

