/* Global styles applied here are inherited by all stories in your installation.

   See https://nextjs.org/docs/basic-features/built-in-css-support
   for other mechanisms of injecting CSS in your story either globally or
   (recommended where possible) as part of a CSS module.
*/

@use 'styles/transitions';

/* Removing all padding allows you to set background colors and margins per story */
html, body {
    margin: 0;
    padding: 0;
}

/* Ensure the last Section element has some bottom margin. */
section.windrift--section:last-of-type {
    margin-bottom: 4em;
}

.windrift--image-choice {
    margin: 20px !important;
    padding: 0 !important;
    display: inline-block;
    background: none;
    box-shadow: none;
    border-radius: 0;
    border: 0;
    cursor: initial;
    pointer-events: none;
}

/* If the choice is an image and it's enabled to be chosen, give it a presentation to show it's clickable */
.windrift--image-choice-chooseable-true {
    cursor: pointer;
    pointer-events: auto;
}