/* Global styles applied here are inherited by all stories in your installation.

   See https://nextjs.org/docs/basic-features/built-in-css-support
   for other mechanisms of injecting CSS in your story either globally or
   (recommended where possible) as part of a CSS module.
*/

@use 'styles/transitions';

/* Removing all padding allows you to set background colors and margins per story */
html, body {
    margin: 0;
    padding: 0;
}

/* Ensure the last Section element has some bottom margin. */
section.windrift--section:last-of-type {
    margin-bottom: 4em;
}

