@use 'sass:color';

@use '/public/styles/colors';

$container-height: 400px;

.container {
    position: relative;
    height: $container-height;
    width: 700px;
    background: colors.$very-dark;

}
.stage {
    position: relative;
    height: $container-height;
    bottom: 0;
    width: 80%;
    margin: auto;
    left: 0;
    right: 0;
    background: color.scale(colors.$very-dark, $lightness: 25%);
    overflow: hidden;
    perspective: 100px;
}
.scene {


    &.beach {
        background: lightblue;
        width: 100%;
        height: 100%;
    }
}
.card {
    background: colors.$very-light;
    position: absolute;
    bottom: 0;
    height: 200px;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    border: 2px solid colors.$very-dark;
}

.object {
    position: absolute;
    bottom: 0px;
    z-index: 99;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 400px;
}
.palm1 {
    background-image: url('/stories/playground/images/palm-tree.png');

    color: white;
    width: 200px;
    bottom: -10px;
}
.crab1 {
    background-image: url('/stories/playground/images/hermit-crab1.png');
    width: 100px;
    bottom: -10px;
    left: 130px;
}
.sand {
    background-color: tan;
    height: 50px;
    width: 100%;
}

.left {
    left: -40px;

}
.right {
    right: -20px;

}

.card1 {
    z-index: 2;

}
.card2 {
    z-index: 1;
}