@use 'sass:color';

@use '/public/styles/colors';

$container-height: 500px;
$container-width: 700px;

$ocean-color: rgb(82, 104, 189);
$sand-color: rgb(237, 209, 173);
$sky-color: rgb(171, 219, 249);

.container {
    position: relative;
    height: $container-height;
    width: $container-width;
    background: colors.$very-dark;

}
.stage {
    position: relative;
    height: $container-height;
    bottom: 0;
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
    background: color.scale(colors.$very-dark, $lightness: 25%);
    overflow: hidden;
    perspective: 100px;
}
.scene {
    background-color: $sky-color;
    position: absolute;
    &.beach {
        width: 100%;
        height: 100%;
        .active {
            z-index: 1;
        }
    }
    &.underwater {
        width: 100%;
        height: 100%;
        .active {
            z-index: 2;
        }
    }
    &.sky {
        width: 100%;
        height: 100%;
        .active {
            z-index: 3;
        }
    }
    &.space {
        width: 100%;
        height: 100%;
        &.active {

            background: colors.$very-dark url('/stories/playground/images/comet.png');
            background-size: cover;
            background-repeat: no-repeat;
            z-index: 4;
        }
    }

}
.card {
    position: absolute;
    bottom: 0;

    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;


    &.card1 {
        z-index: 10;
        background: colors.$very-light;
        width: 80%;
        border: 2px solid colors.$very-dark;
        height: $container-height / 1.5;
        & > p {
            margin: 1em 4em !important;
        }
    }
    &.card2 {
        z-index: 6;
        height: 100%;
        background-image:  url('/stories/playground/images/branch-holding-card.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        width: 450px;
        & > p {
            width: 380px;
            margin: $container-height * .25 0 1em 65px;
        }
        .responses {
            margin: 0 5px 0 80px;
            grid-template-columns: 1fr 1fr;
        }

        & > * {
            transform: rotate(-3deg);
        }
        & > span {
            display: inline-block;
            margin-left: 3em;
        }
    }
    &.card3 {
        z-index: 10;
        width: $container-width * .5;
        height: $container-height;
        background-image:  url('/stories/playground/images/balloon-holding-card.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        & > p {
            width: $container-width * .5;
            margin: $container-height * .25 50px 0 10px;
            text-align: center;
        }
    }

}

.object {
    position: absolute;
    bottom: 0px;
    z-index: 99;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 100%;
    pointer-events: none;
    button {
        margin: 0 !important;
        padding: 0 !important;
        img {
            max-width: 100%;
        }
    }
    &.chooseable {
        height: auto;
    }
}
.beach {
    .palm1, .palm2 {
        background-image: url('/stories/playground/images/palm-tree.png');
        width: 200px;
        bottom: $container-height / 8;
    }

    .crab2 {
        width: 100px;
        bottom: $container-height / 30;
        left: 20%;

        .rest {
            animation: drift-right 350s linear infinite alternate;

            img {
                animation: wiggle 1s linear infinite;
            }

        }
    }

    .gull {
        width: $container-width * .25;
        bottom: $container-height - ($container-height / 5);
        right: $container-width / 5;
        .rest {
            animation: drift-left 100s linear infinite alternate;
            img {
                animation: wiggle 3s linear infinite;
            }
        }
    }
    .lighthouse {
        background-image: url('/stories/playground/images/lighthouse.png');
        width: $container-width * .1;
        bottom: $container-height / 4;
        right: 10px;
        z-index: 5;
    }
    .sea {
        background: $ocean-color;

        width: 100%;
        height: $container-height * 2;
        z-index: 5;
        top: $container-height / 1.5;
    }
}

.crab1 {
    width: 100px;
    bottom: $container-height / 12;
    left: 5%;
    .rest {
        animation: drift-right 200s linear infinite alternate;
        img {
            animation: wiggle .75s linear infinite;
        }
    }
}
/* Scene 2 */
.underwater {
    .ocean {
        background: linear-gradient(color.scale($ocean-color, $lightness: 50%) 1%, $ocean-color 30%, $ocean-color, );
        width: 100%;
        height: $container-height;
        z-index: 5;
        top: 0;
    }
    .squid {
        width: 150px;
        bottom: $container-height - ($container-height / 2);
        .rest {
            img {
                animation: bob 3s ease-in-out infinite;
            }
        }
    }
    .seahorse {
        width: 100px;
        bottom: $container-height - ($container-height / 3);
        right: $container-width / 10;
        .rest {
            img {
                animation: bob 2s ease-in-out infinite;
            }
        }
    }
    .hammerhead {
        width: $container-width;
        bottom:  $container-height - ($container-height / 1.5);
        left: -$container-width;
        z-index: 5;
        .rest {
            animation: drift-right 300s linear infinite alternate;
        }
    }
    .shell1 {
        width: $container-width * .25;
        transform: rotate(-30deg);
        left: $container-width / 4;
        background-image: url('/stories/playground/images/shell1.png');
        bottom: 20px;
    }
    .shell2 {
        width: 50px;
        right: $container-width / 10;
        background-image: url('/stories/playground/images/shell2.png');
        bottom: 40px;
    }

}
/* Scene 3 */

.sky {
    .globe-sky {
        width: 2000px;
        background-color: $ocean-color;

        height: 2000px;
        border-radius: 50%;
        bottom: -1900px;
        left: -500px;
    }
    .lighthouse {
        background-image: url('/stories/playground/images/lighthouse.png');
        width: 50px;
        bottom: 60px;
        right: 20px;
    }
}
.space {
    .globe-sky {
        width: 200px;
        background: $ocean-color;

        height: 200px;
        border-radius: 50%;
        bottom: -150px;
        left: $container-width / 2 - (100px)

    }
    .lighthouse {
        height: 50px;
        width: 50px;
        bottom: 15px;
        left: $container-width / 2 + (20px);
        background-image: url('/stories/playground/images/lighthouse.png');
    }
}
.sand {
    background-color: $sand-color;
    height: $container-height;
    width: 100%;
    bottom: -($container-height * .8);
}

.left {
    left: -40px;

}

.right {
    right: -20px;

}


.responses {
    font-size: 15px;
    display: grid;
    margin: 0 2em;
    grid-template-columns: 1fr 1fr 1fr;
    p {
        line-height: 16px !important;
        text-align: left;
    }
}
@keyframes wiggle {
    from {
        transform: rotate(0deg);

    }
    25% {
        transform: rotate(-2deg);

    }
    75% {
        transform: rotate(2deg);

    }
    to {
        transform: rotate(0);

    }
}
@keyframes bob {
    from {
        transform: translate3d(0, 0, 0);

    }
    50% {
        transform: translate3d(0, 2%, 0);

    }
    to {
        transform: translate3d(0, 0, 0);

    }
}
@keyframes drift-right {
    from {
        transform: translate3d(0px, 0px, 0px);
    }
    to {
        transform: translate3d($container-width, 0px, 0px);
    }
}
@keyframes drift-left {
    from {
        transform: translate3d(0px, 0px, 0px);
    }
    to {
        transform: translate3d(-$container-width, 0px, 0px);
    }
}
