@use 'sass:color';

@use '/public/styles/colors';

$container-height: 400px;

.container {
    position: relative;
    height: $container-height;
    width: 700px;
    background: colors.$very-dark;

}
.stage {
    position: relative;
    height: $container-height;
    bottom: 0;
    width: 80%;
    margin: auto;
    left: 0;
    right: 0;
    background: color.scale(colors.$very-dark, $lightness: 25%);
    overflow: hidden;

}
.card {

    background: colors.$very-light;
    position: absolute;
    bottom: 0;
    height: 200px;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.object {
    position: absolute;
    bottom: 0;
}
.tree {
    background-image:url('/stories/playground/images/tree.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    color: white;
    height: 400px;
    width: 200px;
}
.left {
    left: 0;
}
.right {
    right: 0;

}