@use 'sass:color';

@use '/public/styles/colors';

.section {
    margin-top: -5vh;

    p {
        margin: 0 !important;
        padding: 1em;
        font-size: 15px;
        hyphens: auto;
    }

    .layout {

        padding-top: 5vh;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px,200px));
        grid-template-rows: repeat(auto-fill, min-max(200px, 200px));
        grid-gap: 10px;
        span {
            line-height: 1.4em;
            display: block;
        }

    }
    .palette1 {
        color: colors.$warm;
    }
    .palette2 {
        color: colors.$cool;
    }
    .palette3 {
        color: colors.$warning;

    }
    .palette4 {
        color: colors.$warning;

    }
    .palette5 {
        color: color.scale(colors.$very-dark, $lightness: -50%);
    }
    .palette6 {
        color: color.scale(colors.$cool, $lightness: 50%);
    }
    .palette7 {
        color: colors.$very-dark;
    }
    .palette8 {
        color: colors.$very-dark;
    }
    .palette9 {
        color: colors.$cool;
    }
    .palette10 {
        color: color.scale(colors.$very-dark, $lightness: -50%);
    }
}

