@use 'sass:color';

@use '/public/styles/colors';
@use '/public/styles/sizing';

.section {
    margin-top: -5vh;

    p {
        margin: 0 !important;
        padding: .5em;
        font-size: 15px;
        hyphens: auto;
    }

    .layout {

        padding-top: 5vh;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

        @media screen and (min-width: sizing.$big-viewport) {
            grid-template-columns: repeat(auto-fill, minmax(200px,200px));
            grid-template-rows: repeat(auto-fill, min-max(200px, 200px));
            grid-gap: 10px;
        }
        span {
            line-height: 1.4em;
            display: block;
        }

    }
    .paletteDark {
        color: colors.$very-light;
        background: colors.$very-dark;
    }
    .paletteLight {
        background: colors.$very-light;
        color: colors.$very-dark;
    }

}

