
.appear {
    opacity: 1;
}
.appearActive {
    opacity: 1;
}
.enter {
    opacity: 0;
    transform: scale(.2);
}
.enterActive {
    //transition: opacity 1s linear;
    transition: all .1s ease-in-out;
    opacity: 1;
    transform: scale(1);
}
.enterDone {
    opacity: 1;
    transform: scale(1);
}
.exit {
    opacity: 1;
}
.exitActive {
    opacity: 1;
}
.exitDone {
    opacity: 1;
}