@use 'sass:color';

@use '/public/styles/colors';

$text: 1fr;
$images: 700px;

.title {
    font-family: "Macondo Swash Caps", serif;
    line-height: 1.2em !important;
    margin: 0 0 1rem 0 !important;

}


.victorian {
    font-family: "Smythe", serif;
    font-size: 25px;
    background: colors.$very-dark;
    color: white;
    margin-top: 4px;

}
.medieval {
    font-family: "Macondo Swash Caps", serif;
    background-image: url('/stories/playground/images/paper.webp');
    color: colors.$warning;
    font-size: 20px;
    position: relative;
    img {
        display: block;
        shape-outside: ellipse(30px 80px);
        position: absolute;
        right: 30px;
        bottom: 0;

    }
    span {
        display: block;
        position: absolute;
        left: 50px;
        top: 90px;
        text-align: left;


    }
}
.bronzeage {
    font-family: 'Noto Sans Cuneiform', sans-serif;
    color: color.scale(colors.$cool, $lightness: 50%);
    background: colors.$cool;
    font-size: 30px;
    line-height: 30px;
    padding-top: 0px;
    height: 260px;
    text-decoration: underline;

    img {
        position: absolute;
        display: block;
        right: 0;
        margin: auto;
        left: 50px;
        top: 95px;
    }
}
.today {

    height: 250px;
    padding: 20px 0 0 0;
    background: rgb(88,	132,	206);
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
    span {
        color: white;
        padding: 5px;
        display: block;
    }
}


.innergrid {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(350px, 1fr);
    .readout {
        grid-column: 1 / 4;
        button {
            text-align: left;
            display: inline;
        }
    }


    .dialFrame {
        grid-column: 4 / 7;
        align-self: center;
        justify-self: left;
        position: relative;
        height: 300px;

        img {
            position: absolute;
            display: block;

        }
        .dial {
            position: absolute;
            font-family: "Orbitron", sans-serif;
            background: colors.$very-dark;
            width: 5em;
            left: 37px;
            top: 50px;
            text-align: center;
            font-size: 50px;
            height: 100px;
            line-height: 1.1em;
            border-radius: 200px;
            .numbers {
                padding-top: .4em;
                color: rgb(253, 230, 16);
                text-decoration: none;
            }
            .future {
                color: colors.$warning;
                animation: blinker .75s linear infinite;
            }
        }
    }

    .portholeRegion {
        grid-column:  1/8;

        .floatedcontainer {
            shape-outside: polygon(60% 0, 110% 50%, 50% 100%, 0 50%);
            width: 550px;
            position: relative;
            float: left;
        }
        .sign {
            width: 250px;
            height: 200px;
            position: absolute;
            top: 70px;
            left: 150px;
            text-align: center;
            padding-top: 60px;
            border-radius: 500px;

        }
        .portholeFrame {
            shape-outside: polygon(60% 0, 110% 50%, 50% 100%, 0 50%);
            position: relative;

        }
    }


}


@keyframes blinker {
    50% {
      opacity: .25;
    }
  }