@use '/public/styles/colors';

.sign {
    width: 300px;
    height: 200px;
    position: absolute;
    left: 0;
    right: 0;
    top: 150px;
    margin-left: auto;
    margin-right: auto;
}
.victorian {
    font-family: "Smythe", serif;
    font-size: 27px;
    text-align: center;
    background: colors.$very-dark;
    color: white;
    padding-top: 60px;

}
.medieval {
    font-family: "Macondo Swash Caps", serif;
    background-color: rgb(255, 232, 168);
    color: rgb(129, 108, 77);
    font-size: 30px;

    &::first-letter {
        font-size: 80px;
        margin: 10px -20px;
        color: colors.$warning;
    }
}
.bronzeage {
    font-family: 'Noto Sans Cuneiform', sans-serif;
    background: lightgray;
    color: colors.$cool;
}
.today {
    min-height: 220px;
    width: 248px;
    margin: 10px auto;
    padding: 0;
    background: rgb(74, 134, 212);
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
    span {
        color: white;
        padding: 5px;
        display: block;
    }

}
.dial {
    position: absolute;
    font-family: "Orbitron", sans-serif;
    background: colors.$very-dark;
    width: 5em;
    margin: 2rem auto;
    left: 0;
    right: 0;
    top: 20px;
    text-align: center;
    font-size: 50px;
    height: 100px;
    line-height: 1.1em;
    border-radius: 500px;
    .numbers {
        padding-top: .4em;
        color: rgb(253, 230, 16);
        text-decoration: none;
    }
}