@use 'sass:math';

@use '/public/styles/sizing';
@use '/public/styles/colors' with (
    $cool: rgb(79, 135, 101)
);

@use '/public/styles/header' with (
    $background-color: colors.$cool,
);
@use '/public/styles/main';

$left-right-width: 1fr;

// Overrides and additions to the default grid

.header {

    nav {
        // Add an extra column for the share button
        grid-template-columns: 3fr 1fr 1fr 1fr;

        .player {
            display: inline-block;
            font-size: 1rem;
            justify-self: right;
            margin-right: 10px;
        }

        .share {
            display: inline-block;
        }
    }
}

.main {

    // Widen the right column to show the presence/log list
    grid-template-columns: $left-right-width 3fr $left-right-width;

    .story {
        padding: 0 math.div(sizing.$gutter, 4) 0 math.div(sizing.$gutter, 4);

        aside {
            font-style: italic;
            background: rgb(227, 244, 254);
            padding: 1rem;
        }
    }
    button {
        display: inline-block;
        margin-right: sizing.$gutter;
        background: colors.$button;
        color: colors.$very-light;
        border: 0;
        box-shadow: none;
        border-radius: 0;
        font-size: 1rem;
        text-transform: uppercase;
        padding: 10px;
    }

    button:disabled {
        background: colors.$disabled;
    }

    input {
        display: inline-block;
        margin-right: sizing.$gutter;
        border: 1px solid colors.$cool;
        box-shadow: none;
        border-radius: 0;
        font-size: 1rem;
        text-transform: uppercase;
        padding: 10px;
    }
    input[type=submit] {

        background: colors.$cool;
        color: colors.$contrast;
        border: 0;
        box-shadow: none;
        border-radius: 0;
        font-size: 1rem;
        text-transform: uppercase;
        padding: 10px;
    }

}

.left {
    padding: 0 0 0 math.div(sizing.$gutter, 4);
}