
@use 'sass:color';

@use '/public/styles/fonts' with (
   $body: 'EB Garamond',
   $header: 'Elsie'
);

// Change the default grid to favor a wider main viewport
@use '/public/styles/sizing' with (
    $story-margin: 100px,
    $font-size-default: 20px
);
@use '/public/styles/grid';
@use '/public/styles/colors';

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=EB+Garamond&family=Elsie&family=Roboto&family=Roboto+Mono&display=block");


.header {

    background-image: url(/images/windrift-logo.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 75px;
    background-position-x: 20px;
    background-position-y: 5px;
 }

.main {

    h1, h2, h3, h4, h5 {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        color: colors.$warm;

    }

    h4 {
        margin: .5em 0;
    }

    section ol {
        margin-left: 0 !important;
        padding-left: 0 !important;
        list-style-position: inside;

    }

    pre, code {
        font-size: 15px !important;
        font-family: "Roboto Mono";
    }

    kbd {
        font-size: 27px;
        font-family: "Roboto Mono";
    }
    pre + p {
        padding-top: 1rem;
    }
    p > code, li > code {
        background: color.scale(colors.$cool, $lightness: 85%);
        padding: 4px;
    }
    aside {
        color: colors.$cool;
        background: color.scale(colors.$cool, $lightness: 90%);
        padding: 1rem 5px;

        @media screen and (min-width: sizing.$big-viewport) {
            border: 1px solid color.scale(colors.$cool, $lightness: 50%);
            padding: 1rem;
        }
        font-size: 20px;
        &::before {
            content: "Example: ";
            display: block;
            color: color.scale(colors.$cool, $lightness: 50%);
            padding: .25rem;
            text-transform: uppercase;
            margin-bottom: 1rem;
            font-size: 18px;
        }

        &.advanced {
            background: color.scale(colors.$cool, $lightness: 70%);
            h1, h2, h3, h4, h5, h6 {
                color: colors.$cool;
                font-size: 22px;
                margin: 0 0 .5rem 0;
            }
            &::before {
                content: "Advanced technique: ";
                color: colors.$cool;
                display: block;
                padding: .25rem;
                text-transform: uppercase;
                margin-bottom: 1rem;
                font-size: 18px;
            }
        }
        &.warning {
            color: color.scale(colors.$very-dark, $lightness: 10%);
            &::before {
                content: "Warning: ";
                text-transform: uppercase;
                color: colors.$warning;
                font-size: 18px;

            }
        }
        &.note {
            border-color: colors.$cool;
            color: colors.$cool;
            &::before {
                content: "Note: ";
                text-transform: uppercase;
                color: colors.$cool;

            }
        }
    }
    button {

        padding: .5rem;
        margin: 0;
        &.warning {
            background: colors.$warning;
            color: colors.$very-light;
        }
    }
    .link {
        background-color: transparent;
        border: none;
        cursor: pointer;
        text-decoration: underline;
        display: inline;
        margin: 0;
        padding: 0;
        color: colors.$very-dark;
    }
    .current {
        @extend .link;
        cursor: inherit;
        text-decoration: none;
    }
    .toc {
        background: color.scale(colors.$cool, $lightness: 90%);
        padding: 10px;
        color: colors.$cool;
        font-size: 15px;

        ol {
            margin: 0;
            padding: 0;
            display: inline;

            li {
              display: inline;
            }
            li::after {
                content: " | ";
            }
            li:last-child::after {
                content: none;
            }
        }
    }
    .sample {

        @media screen and (min-width: sizing.$big-viewport) {
            margin: 0 10rem;
        }
        font-family: Nunito, serif;

        p:first-of-type {
            padding-top: 2rem;
        }
        h1, h2, h3, h4, h5, h6 {
            color: colors.$very-dark;
        }
        // Ensure the underline doesn't go beneath the emoji for all findables
        .findable a::after {
            display: inline-block;
            width: 0;
            margin: 0 1em 0 .25em;
        }
        .camera a::after {
            content: " 📸";

        }
        .food a::after {
            content: " 🍄";
        }
        .magnify a::after {
            content: " 🔎";
        }

        img {
            padding-top: 2rem !important;
        }
    }
    .imagebox {

        overflow-x: scroll;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 100%;

        @media screen and (min-width: sizing.$big-viewport) {
            grid-template-columns: 200px 1fr;
        }

        img, button {
            justify-self: center;
            align-self: start;
            padding: 0;
            margin: 0 !important;
            width: 200px;
            min-height: 200px;
            display: block;
        }


        .imageexample {
            align-self: start;
            height: 100%;
            background: rgb(38, 50, 56) none repeat scroll 0% 0%;
            pre {
                margin: 0 !important;
            }
        }
    }

    .twoUp {
        @media screen and (min-width: sizing.$big-viewport) {
            display: grid;
            padding: 2rem 0;
            column-gap: 2rem;
            row-gap: 2rem;
            grid-template-columns: [left] 1fr [right] minmax(200px, 1fr);

        }
        img {
            display: block;
            margin: 2rem auto;
        }
    }
    /* Two styles used as examples */
    .styleExample {
        background: green;
        color: white;
    }
    address {
        background: blue;
        color: white;
        display: inline;

    }
    .nav {
        font-size: 1.25rem;
        display: block;
        background: color.scale(colors.$cool, $lightness: 90%);
        padding: 10px;
        ::after {
            content: " 👉";
            display: inline-block;
            width: 0;
            margin: 0 1em 0 .25em;
        }
    }
    a[href^="http"]::after {
        content: " ⬀";
        display: inline-block;
        width: 0;
        margin: 0 12px 0 .25em;

    }
    img[src$=".svg"] {
        width: 100%;
    }
    img {
        max-width: 100%;
        height: auto;
    }
}
