
$warm: rgb(223, 132, 29) !default;
$cool: rgb(75, 103, 119) !default;
$contrast: rgb(243, 239, 240) !default;
$warning: rgb(193, 67, 46) !default;

$very-light: rgb(250, 250, 250) !default;
$very-dark: rgb(44, 44, 44) !default;

$text: $cool !default;
$button: $warning !default;

