@use 'colors';
@use 'fonts';
@use 'sizing';

$background: linear-gradient(to right, #0f2027, #203a43, #2c5364) !default;
$max-height: 100px !default;
$min-height: sizing.$story-margin !default;
$reset-background: colors.$button !default;
$reset-color: colors.$very-light !default;

.header {
    max-height: $max-height;
    min-height: $min-height;
    background: $background;
    color: colors.$contrast;
    nav {
        display: grid;
        grid-template-columns: [left] 10vw [center] 1fr [right] 10vw;

        h1 {
            justify-self: left;
            font-family: fonts.$header;
            font-size: 2rem;
        }

        .controls {
            display: grid;
            justify-items: end;

            button {
                display: inline-block;
                background: $reset-background;
                color: $reset-color;
                border: 0;
                box-shadow: none;
                border-radius: 0;
                min-height: $min-height;
                min-width: $min-height;
                font-size: 1rem;
                text-transform: uppercase;
            }
        }
    }
}