@use 'colors';
@use 'fonts';
@use 'sizing';

.main {
    display: grid;
    grid-template-columns: [left] minmax(50px, 20vh) minmax(80%, 1fr) [right] minmax(50px, 20vh);
    background: colors.$very-light;

    font-family: fonts.$body;
    font-size: 1.2rem;
    padding-top: sizing.$story-margin;

    h1, h2, h3 {
        margin-top: 1.5em;
    }

    .left {
        min-height: 100vh;
        font-size: 1rem;
        margin: 0 sizing.$story-margin 0 sizing.$story-margin;

        p {
            margin: 0 0 1rem 0;
            line-height: 1.2rem;
        }
    }

    .story {
        min-height: 100vh;

        aside, p {
            margin: 0 0 1rem 0;
            line-height: 1.75rem;
        }
        aside {
            margin-top: 1rem;
        }
        h1, h2, h3, h4, h5, h6 {
            line-height: 1.5rem;
            color: colors.$warm;
        }
        h2 {
            color: complement(colors.$warm);
        }

        a {
            color: colors.$cool;
        }
        ul, ol {
            margin-left: 2rem;
        }

    }

    .right {
        min-height: 100vh;
        font-size: 1rem;
        margin: 0 sizing.$story-margin 0 0;
        p {
            margin: 0 0 1rem 0;
            line-height: 1.5rem;
        }
    }
}