
$header-height: 60px;
$article-margin: $header-height;
$gutter: $header-height / 2;
$left-right-width: $header-height * 2;

/* Colors */

$rusted-gold: #ce9e62;
$silver: #4b6777;
$black: #2c2c2c;
$light-gray: rgb(243,239,240);
$deep-red: #c1432e;

$text: $light-gray;
$background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
$button: $deep-red;
$white: rgb(250, 250, 250);
