@use '../colors';

.resume {

    margin: 2rem 0;


}
.resumeForm {
    padding: 1em;
    border: 1px solid colors.$cool;

    .instanceIdField {
        display: block;
        margin: 1rem 0;
    }
    .player {
        display: inline-block;
        margin: 0;

        & + label {
            padding: 0 0 0 10px;
        }
    }
    input[type=submit] {
        margin: 1rem 0;
    }

}