@use '../colors';
@use '../sizing';
@use '../fonts';

.clipboard {
    border: 1px solid colors.$cool;
    box-shadow: none;
    border-radius: 0;
    cursor: pointer;
    background: colors.$cool;
    color: colors.$contrast;
    padding: 5px;
    display: flex;
    font-family: fonts.$body;
    font-size: 1rem;
    align-items: center;
    justify-content: center;

    span {
        display: inline-block;
        margin-right: 20px;
    }
    img {
        fill: colors.$cool;
        stroke: colors.$cool;
    }
    &:hover {
        border: 1px solid colors.$cool;
    }
    &:active {
        background: colors.$button;
        animation: pulse .2s;
        animation-fill-mode: forwards;
    }
    @keyframes pulse {
        0% {
            transform: scale(1.0);
        }
        100% {
            transform: scale(1.1);
        }
    }
}