@use '/public/styles/colors';

@use '/public/styles/fonts' with (
   $body: 'Stix Two Math',
   $header: 'Raleway'
);

@use '/public/styles/sizing' with (
   $story-margin: 25vh
);
@use '/public/styles/header' with (
   $min-height: 1em,
   $max-height: 1vh,
   $background-color: colors.$very-light,
   $reset-background: colors.$very-light,
   $reset-color: colors.$very-dark,
   $foreground-color: colors.$very-dark
);

@use '/public/styles/grid';

@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Math&family=Raleway&display=block');

.main {
   /* Customizations can go here */
   background-color: colors.$very-light;

   // More padding than the default grid
   grid-template-columns: [left] 25vw [center] 1fr [right] 25vw;

    h1, h2, h3, h4, h5, h6 {
      line-height: 3rem;
      color: colors.$very-dark;
      font-family: fonts.$header;
      font-weight: normal;
   }
   hr {
      width: 25%;
      margin: 4rem auto;
      color: colors.$very-light;
   }
   small {
      text-transform: uppercase;
   }
   blockquote {
      font-style: italic;
   }
}
.header {
   nav {
      .controls {
         justify-items: left;
      }
   }
}