name: End-to-end tests
on: [pull_request]
jobs:
    cypress-run:
        runs-on: ubuntu-latest
        container: cypress/browsers:node18.12.0-chrome106-ff106
        steps:
            - name: Checkout
              uses: actions/checkout@v3

            - name: Cache Next artifacts
              uses: actions/cache@v2
              with:
                path: ${{ github.workspace }}/.next/cache
                # Generate a new cache whenever packages or source files change.
                key: ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('**.[jt]s', '**.[jt]sx') }}
                # If source files changed but packages didn't, rebuild from a prior cache.
                restore-keys: |
                  ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-

            - name: Cypress run
              uses: cypress-io/github-action@v5
              with:
                  start: npm run start
                  # quote the url to be safe against YML parsing surprises
                  wait-on: 'http://localhost:3000/manual'
                  quiet: true
                  browser: chrome
                  headless: true